click==8.1.7
docx==0.2.4
fire==0.7.0
fonttools==4.55.0
lxml==5.4.0
numpy>=2.2.0
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
pdf2docx==0.5.8
pillow==11.2.1
PyMuPDF==1.24.14
python-docx==1.1.2
regex==2023.8.8
termcolor==3.1.0
tqdm==4.67.1
typing_extensions==4.13.2
